<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devio.as.proj.biz_login">

    <application>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>
</manifest>