<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devio.as.proj.biz_detail">

    <application>
        <activity
            android:name=".DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>