<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.as.api.mapper.CityMapper">
    <select id="getCities" resultType="com.example.as.api.entity.CityEntity">
        SELECT
            *
        FROM
            t_district
    </select>
</mapper>