.config-add {
  display: flex;
  flex-direction: row;

  &-left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 20px;
    flex: 1
  }

  &-top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-namespace {
    width: 200px;
  }

  &-input {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &-btn {
    margin: 0 auto 20px;
  }

  &-right {
    width: 360px;
    margin-top: 60px;
    margin-left: 10px;
  }
}
