<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devio.as.proj.biz_order">

    <application>
        <activity
            android:name=".OrderActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".address.AddressListActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait" />
    </application>
</manifest>